# Importing Data

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
orderspath=r'C:\Users\iNDIA\Desktop\Career Foundry\4 Python Fundamentals for Data Analysts\Instacart Basket Analysis Mar 22\02 Data\Prepared Data\orders_checked.csv'

In [4]:
# Importing Orders
df_ords = pd.read_csv(os.path.join(orderspath), index_col = False)

In [5]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   order_id                int64
 2   user_id                 int64
 3   order_number            int64
 4   order_day_of_week       int64
 5   order_time              int64
 6   days_since_prior_order  float64
 7   first_time_customer     bool
dtypes: bool(1), float64(1), int64(6)
memory usage: 186.0 MB

In [8]:
# Change types for ords data set

df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['order_day_of_week']=df_ords['order_day_of_week'].astype('int8')
df_ords['order_time']=df_ords['order_time'].astype('int8')
df_ords['days_since_prior_order']=df_ords['days_since_prior_order'].astype('float16')

In [9]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   order_id                int32
 2   user_id                 int32
 3   order_number            int8
 4   order_day_of_week       int8
 5   order_time              int8
 6   days_since_prior_order  float16
 7   first_time_customer     bool
dtypes: bool(1), float16(1), int32(2), int64(1), int8(3)
memory usage: 71.8 MB

In [10]:
ordspriorpath = r'C:\Users\iNDIA\Desktop\Career Foundry\4 Python Fundamentals for Data Analysts\Instacart Basket Analysis Mar 22\02 Data\Original Data\order_products__prior.csv'

In [11]:
# Importing Orders Prior sheet
df_ords_prior = pd.read_csv(os.path.join(ordspriorpath), index_col = False)

In [12]:
# Check the Output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [13]:
df_ords_prior.shape

(32434489, 4)

In [14]:
df_ords.shape

(3421083, 8)

In [15]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,first_time_customer
0,0,2539329,1,1,2,8,NaN,True
1,1,2398795,1,2,3,7,15.0,False
2,2,473747,1,3,3,12,21.0,False
3,3,2254736,1,4,4,7,29.0,False
4,4,431534,1,5,4,15,28.0,False

In [16]:
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [17]:
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,first_time_customer
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [18]:
%%time 
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [19]:
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,first_time_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [20]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

### Exporting Data to csv & pkl

In [21]:
orders_products_combined_path = r'C:\Users\iNDIA\Desktop\Career Foundry\4 Python Fundamentals for Data Analysts\Instacart Basket Analysis Mar 22\02 Data\Prepared Data'

In [22]:
# Export data to csv

df_merged_large.to_csv(os.path.join(orders_products_combined_path,'orders_products_combined.csv'))

In [23]:
orders_products_combined_path_pkl = r'C:\Users\iNDIA\Desktop\Career Foundry\4 Python Fundamentals for Data Analysts\Instacart Basket Analysis Mar 22\02 Data\Prepared Data'

In [24]:
# Export data to pkl
%%time
df_merged_large.to_pickle(os.path.join(orders_products_combined_path_pkl, 'orders_products_combined.pkl'))

In [25]:
df_merged_large.shape

(32434489, 11)

In [26]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [27]:
df_merged_large.isnull().sum()

order_id                        0
user_id                         0
order_number                    0
order_day_of_week               0
order_time                      0
days_since_prior_order    2078068
first_time_customer             0
product_id                      0
add_to_cart_order               0
reordered                       0
_merge                          0
dtype: int64