# 01. Importing libraries

In [2]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

In [5]:
df = pd.read_csv(r"C:\Users\iNDIA\Desktop\Career Foundry\4 Python Fundamentals for Data Analysts\Instacart Basket Analysis Mar 22\02 Data\Original Data\orders.csv", index_col = False)

In [6]:
path = r'C:\Users\iNDIA\Desktop\Career Foundry\4 Python Fundamentals for Data Analysts\Instacart Basket Analysis Mar 22\02 Data\Original Data'

In [7]:
path

'C:\\Users\\iNDIA\\Desktop\\Career Foundry\\4 Python Fundamentals for Data Analysts\\Instacart Basket Analysis Mar 22\\02 Data\\Original Data'

In [9]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [10]:
df.head(300)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
295,173172,24,prior,18,0,16,14.0
296,965160,24,train,19,0,16,0.0
297,2610576,25,prior,1,1,14,NaN
298,2994388,25,prior,2,1,20,30.0
299,258751,25,prior,3,5,19,30.0

In [11]:
df.tail()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [12]:
df.shape

(3421083, 7)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [14]:
df.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [15]:
df.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [16]:
df.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (Temp/ipykernel_11548/913194653.py, line 1)

In [23]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\iNDIA\\Desktop\\Career Foundry\\4 Python Fundamentals for Data Analysts\\Instacart Basket Analysis Mar 22\\02 Data\\Original Data\\02 Data\\Original Data\\orders.csv'

In [24]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [26]:
vars_list

['order_id',
 'user_id',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

In [28]:
df = pd.read_csv(r'C:\Users\iNDIA\Desktop\Career Foundry\4 Python Fundamentals for Data Analysts\Instacart Basket Analysis Mar 22\02 Data\Original Data\orders.csv', index_col = False, nrows=1000)

In [29]:
df.tail()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
995,2302602,64,prior,7,5,20,9.0
996,3215917,64,prior,8,6,17,15.0
997,2754807,64,prior,9,6,15,7.0
998,3129760,64,prior,10,1,10,9.0
999,2639013,64,train,11,0,13,27.0

In [30]:
df = pd.read_csv(r'C:\Users\iNDIA\Desktop\Career Foundry\4 Python Fundamentals for Data Analysts\Instacart Basket Analysis Mar 22\02 Data\Original Data\orders.csv', index_col = False, usecols = vars_list)

In [31]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [1]:
path = r'C:\Users\iNDIA\Desktop\Career Foundry\4 Python Fundamentals for Data Analysts\Instacart Basket Analysis Mar 22\02 Data\Original Data\orders.csv'

In [2]:
path

'C:\\Users\\iNDIA\\Desktop\\Career Foundry\\4 Python Fundamentals for Data Analysts\\Instacart Basket Analysis Mar 22\\02 Data\\Original Data\\orders.csv'

In [3]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

NameError: name 'pd' is not defined

In [4]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

In [6]:
path = r'C:\Users\iNDIA\Desktop\Career Foundry\4 Python Fundamentals for Data Analysts\Instacart Basket Analysis Mar 22\02 Data\Original Data\orders.csv'

In [9]:
path

'C:\\Users\\iNDIA\\Desktop\\Career Foundry\\4 Python Fundamentals for Data Analysts\\Instacart Basket Analysis Mar 22\\02 Data\\Original Data\\orders.csv'

In [12]:
df = pd.read_csv(os.path.join(path), index_col = False)

In [13]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0